{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hexlet Task Manager</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Менеджер задач</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="#">Пользователи</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Вход</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Регистрация</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-4">
  <h1>Добро пожаловать в Hexlet Task Manager</h1>
</div>
</body>
</html>