{% extends 'core/home.html' %}

{% block content %}
<h1>{{ task.name }}</h1>

<p><strong>Описание</strong></p>
<p>{{ task.description|linebreaksbr }}</p>

<p><strong>Статус:</strong> {{ task.status }}</p>
<p><strong>Автор:</strong> {{ task.author }}</p>
<p><strong>Исполнитель:</strong> {{ task.executor|default:'-' }}</p>
<p>
    <strong>Метки:</strong>
    {% for label in task.labels.all %}
        {{ label.name }}{% if not forloop.last %}, {% endif %}
    {% empty %}
        -
    {% endfor %}
</p>

<a href="{% url 'task_update' task.pk %}">Изменить</a>
<a href="{% url 'task_delete' task.pk %}">Удалить</a>
{% endblock %}
